@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
































body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oswald', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f4d74f !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f4d74f;
  border-color: #f4d74f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e8c20e;
  border-color: #e8c20e;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e8c20e !important;
  border-color: #e8c20e !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #d0ae0d;
  color: #d0ae0d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f4d74f;
  border-color: #f4d74f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f4d74f !important;
  border-color: #f4d74f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f4d74f !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f4d74f;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #589fc5;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #73aece!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #7eb5d2;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#header1-1m .mbr-section-title {
  font-size: 36px;
  color: #efefef;
}
#header1-1m .mbr-section-lead B {
  color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 32px;
  text-align: left;
}
#header1-1m .mbr-section-title SPAN {
  text-align: center;
  font-size: 60px;
  color: #efefef;
}
#header1-1m .mbr-section-lead DIV {
  text-align: center;
}
#header1-1m .mbr-section-lead {
  color: #ffffff;
  font-size: 30px;
}
#msg-box4-1 SPAN {
  text-align: right;
  font-size: 46px;
}
#msg-box4-1 H3 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #ffffff;
}
#header3-3g .mbr-section-title,
#header3-3g .mbr-section-subtitle {
  text-align: center;
}
#header3-3g H3 {
  color: #cccccc;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#msg-box2-g .mbr-section-title {
  color: #fff;
  text-align: center;
}
#msg-box2-g .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box2-g .mbr-section-title DIV {
  text-align: center;
  color: #ffe284;
  font-size: 36px;
}
#msg-box2-g .mbr-section-title SPAN {
  font-size: 46px;
  text-align: right;
}
#header3-o .mbr-section-title,
#header3-o .mbr-section-subtitle {
  text-align: center;
}
#header3-o H3 {
  color: #ffe284;
}
#header3-o SMALL {
  color: #e25041;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
#header3-o B {
  color: #e25041;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#modal-block-p .panel-body {
  padding: 15px;
}
#modal-block-p modal {
  display: mone;
  position: fixed;
  zIndex: 1;
  paddingTop: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backgroundColor: rgba(0, 0, 0, 0.4);
}
#modal-block-p modal_content {
  backgroundColor: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}
#modal-block-p close {
  color: #aaaaaa;
  float: right;
  fontSize: 28px;
  fontWeight: bold;
}
#modal-block-p close_hover {
  color: #000;
  textDecoration: none;
  cursor: pointer;
}
#modal-block-p close_focus {
  color: #000;
  textDecoration: none;
  cursor: pointer;
}
#header3-3h .mbr-section-title,
#header3-3h .mbr-section-subtitle {
  text-align: center;
}
#header3-3h H3 {
  color: #cccccc;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#msg-box1-r H3 {
  color: #f3c649;
}
#msg-box1-r H2 {
  color: #ffffff;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
#msg-box1-r B {
  text-align: left;
}
#content1-m P {
  font-family: 'Lora', serif;
  color: #353535;
  text-align: center;
  font-size: 20px;
}
#content1-m B {
  text-align: right;
  color: #353535;
  font-family: 'Montserrat', sans-serif;
}
#content1-m I {
  color: #28324e;
}
#content1-m DIV {
  color: #353535;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
}
#header3-15 .mbr-section-title,
#header3-15 .mbr-section-subtitle {
  text-align: center;
}
#header3-15 H3 {
  color: #cccccc;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#msg-box1-l H3 {
  color: #ffffff;
  font-size: 24px;
  text-align: right;
}
#msg-box1-l H2 {
  color: #d14841;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
#msg-box1-l B {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
#content2-10 BLOCKQUOTE {
  font-family: 'Montserrat', sans-serif;
  color: #7e9b9f;
  text-align: center;
}
#content2-10 B {
  color: #353535;
  font-size: 20px;
}
#header3-13 .mbr-section-title,
#header3-13 .mbr-section-subtitle {
  text-align: center;
}
#header3-13 H3 {
  color: #cccccc;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#msg-box5-z H3 {
  color: #ffffff;
  font-size: 46px;
}
#msg-box5-z P {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-align: left;
  font-size: 19px;
}
#msg-box5-z B {
  color: #353535;
}
#header3-1l .mbr-section-title,
#header3-1l .mbr-section-subtitle {
  text-align: center;
}
#header3-1l H3 {
  color: #cccccc;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#header5-1c .mbr-section-title {
  color: #ffffff;
  font-size: 48px;
}
#header5-1c .mbr-section-lead {
  color: #eb6b56;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
#header5-1c .mbr-section-lead B {
  color: #eb6b56;
  font-size: 30px;
}
#header3-1e .mbr-section-title,
#header3-1e .mbr-section-subtitle {
  text-align: center;
}
#header3-1e H3 {
  color: #cccccc;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#header5-1d .mbr-section-title {
  color: #7eb5d2;
  font-size: 48px;
}
#header5-1d .mbr-section-lead {
  color: #28324e;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header5-1d .mbr-section-lead B {
  color: #28324e;
  font-size: 24px;
}
#header3-1f .mbr-section-title,
#header3-1f .mbr-section-subtitle {
  text-align: center;
}
#header3-1f H3 {
  color: #cccccc;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#msg-box5-17 H3 {
  text-align: center;
  color: #7eb5d2;
}
#msg-box5-17 P {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
#msg-box5-17 B {
  font-size: 20px;
  text-align: left;
}
#msg-box5-17 SPAN {
  color: #232323;
}
#header3-12 .mbr-section-title,
#header3-12 .mbr-section-subtitle {
  text-align: center;
}
#header3-12 H3 {
  color: #cccccc;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#header5-1h .mbr-section-title {
  color: #7eb5d2;
  font-size: 48px;
}
#header5-1h .mbr-section-lead {
  color: #28324e;
}
#header3-1i .mbr-section-title,
#header3-1i .mbr-section-subtitle {
  text-align: center;
}
#header3-1i H3 {
  color: #cccccc;
  font-family: 'Lora', serif;
  font-size: 30px;
}
#msg-box5-y H3 {
  color: #7eb5d2;
  text-align: center;
}
#msg-box5-y P {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
}
#header3-3i .mbr-section-title,
#header3-3i .mbr-section-subtitle {
  text-align: center;
}
#header3-3i H3 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #7eb5d2;
}
#features1-16 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #7eb5d2;
}
#features1-16 .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #28324e;
}
#features1-16 .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #232323;
}
#header3-14 .mbr-section-title,
#header3-14 .mbr-section-subtitle {
  text-align: center;
}
#header3-14 H3 {
  color: #7eb5d2;
  font-size: 36px;
}
#msg-box5-11 H3 {
  text-align: center;
  color: #f28281;
  font-size: 36px;
}
#msg-box5-11 P {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 19px;
}
#msg-box5-11 B {
  text-align: center;
}





#header3-89 .mbr-section-title,
#header3-89 .mbr-section-subtitle {
  text-align: center;
}
#header3-89 SMALL {
  color: #454545;
}
#header3-89 H3 {
  color: #000000;
}
#header3-89 SPAN {
  color: #28324e;
}
#header3-89 .mbr-section-subtitle SPAN {
  color: #475577;
}
#header3-8c .mbr-section-title,
#header3-8c .mbr-section-subtitle {
  text-align: center;
}
#header3-8c H3 {
  color: #000000;
}
#header3-8c SMALL {
  color: #454545;
}
#header3-8c .mbr-section-title {
  font-size: 46px;
  color: #efefef;
  text-align: center;
}
#header3-8c .mbr-section-subtitle {
  text-align: center;
}
#header3-aa .mbr-section-title,
#header3-aa .mbr-section-subtitle {
  text-align: center;
}
#header3-aa .mbr-section-title {
  color: #efefef;
  font-size: 24px;
}
#header3-aa .mbr-section-subtitle {
  color: #454545;
}
#content6-a7 P {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: left;
  color: #323232;
}
#header3-b6 .mbr-section-title,
#header3-b6 .mbr-section-subtitle {
  text-align: center;
}
#header3-b6 H3 {
  color: #28324e;
}
#header3-b6 SMALL {
  color: #454545;
}
#header3-b6 .mbr-section-title {
  font-size: 22px;
  color: #323232;
}
#content1-b7 P {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #353535;
}
#header3-b8 .mbr-section-title,
#header3-b8 .mbr-section-subtitle {
  text-align: center;
}
#header3-b8 H3 {
  color: #28324e;
}
#header3-b8 SMALL {
  color: #454545;
}
#header3-b8 .mbr-section-title {
  font-size: 22px;
  color: #323232;
}
#content1-b5 P {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #353535;
}
#header3-ak .mbr-section-title,
#header3-ak .mbr-section-subtitle {
  text-align: center;
}
#header3-ak .mbr-section-title {
  color: #efefef;
  font-size: 24px;
}
#header3-ak .mbr-section-subtitle {
  color: #454545;
}
#content1-al P {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #353535;
}
#header3-ah .mbr-section-title,
#header3-ah .mbr-section-subtitle {
  text-align: center;
}
#header3-ah .mbr-section-title {
  color: #efefef;
}
#header3-ah .mbr-section-subtitle {
  color: #454545;
}
#content1-8a P {
  color: #232323;
  font-family: 'Montserrat', sans-serif;
}
#header3-am .mbr-section-title,
#header3-am .mbr-section-subtitle {
  text-align: center;
}
#header3-am H3 {
  color: #28324e;
}
#header3-am SMALL {
  color: #454545;
}
#header3-am .mbr-section-subtitle B {
  font-size: 20px;
}
#header3-am .mbr-section-title {
  color: #3d8eb9;
  font-size: 36px;
}
#buttons1-9l .btn {
  font-size: 32px;
}

#header3-8i .mbr-section-title,
#header3-8i .mbr-section-subtitle {
  text-align: center;
}
#header3-8i H3 {
  color: #454545;
}
#content1-8h P {
  font-family: 'Montserrat', sans-serif;
}
#buttons1-9m .btn {
  font-size: 32px;
}



















































#header2-b9 .mbr-section-title {
  font-size: 60px;
  text-align: center;
  color: #ffffff;
}
#header2-b9 .mbr-section-title SPAN {
  color: #efefef;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}
#header2-b9 .mbr-section-text {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 32px;
}
#header2-b9 .mbr-section-text B {
  font-size: 32px;
  font-family: 'Lora', serif;
}
#header2-b9 .mbr-section-title DIV {
  font-size: 36px;
  color: #efefef;
}
#msg-box4-bb SPAN {
  text-align: right;
  font-size: 46px;
}
#msg-box4-bb H3 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #ffffff;
}
#msg-box4-bb P {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#header3-bc .mbr-section-title,
#header3-bc .mbr-section-subtitle {
  text-align: center;
}
#header3-bc H3 {
  color: #7eb5d2;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#msg-box2-bd .mbr-section-title {
  color: #fff;
  text-align: center;
}
#msg-box2-bd .mbr-section-subtitle {
  color: #a0a0a0;
}
#msg-box2-bd .mbr-section-title DIV {
  text-align: center;
  color: #ffe284;
  font-size: 36px;
}
#msg-box2-bd .mbr-section-title SPAN {
  font-size: 46px;
  text-align: right;
}
#testimonials1-be .mbr-section-title {
  color: #353535;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
}
#testimonials1-be .card-block {
  text-align: center;
}
#testimonials1-be .mbr-section-title SPAN {
  color: #cccccc;
}
#testimonials1-be .card-block SPAN {
  text-align: right;
}
#header5-bf .mbr-section-title {
  color: #000;
}
#header5-bf .mbr-section-lead {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  text-align: left;
}
#header5-bf .mbr-section-lead B {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}
#header5-bf .mbr-section-lead SPAN {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}
#slider3-bg B {
  text-align: center;
}
#header3-bh .mbr-section-title,
#header3-bh .mbr-section-subtitle {
  text-align: center;
}
#header3-bh H3 {
  color: #28324e;
}
#header3-bh SMALL {
  color: #454545;
}
#header3-bh .mbr-section-title {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  color: #323232;
}
#content1-bi P {
  text-align: left;
}
#content1-bi DIV {
  text-align: center;
}
#header3-bj .mbr-section-title,
#header3-bj .mbr-section-subtitle {
  text-align: center;
}
#header3-bj H3 {
  color: #fff666;
}
#header3-bj SMALL {
  color: #e25041;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
#header3-bj B {
  color: #e25041;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header3-bj SPAN {
  color: #454545;
}
#modal-block-bk .panel-body {
  padding: 15px;
}
#modal-block-bk modal {
  display: mone;
  position: fixed;
  zIndex: 1;
  paddingTop: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backgroundColor: rgba(0, 0, 0, 0.4);
}
#modal-block-bk modal_content {
  backgroundColor: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}
#modal-block-bk close {
  color: #aaaaaa;
  float: right;
  fontSize: 28px;
  fontWeight: bold;
}
#modal-block-bk close_hover {
  color: #000;
  textDecoration: none;
  cursor: pointer;
}
#modal-block-bk close_focus {
  color: #000;
  textDecoration: none;
  cursor: pointer;
}
#header3-cg .mbr-section-title,
#header3-cg .mbr-section-subtitle {
  text-align: center;
}
#header3-cg .mbr-section-title {
  color: #232323;
}
#header3-ch .mbr-section-title,
#header3-ch .mbr-section-subtitle {
  text-align: center;
}
#header3-ch .mbr-section-title {
  color: #efefef;
}
#header3-cn .mbr-section-title,
#header3-cn .mbr-section-subtitle {
  text-align: center;
}
#header3-cn .mbr-section-title {
  color: #d14841;
}
#header3-cj .mbr-section-title,
#header3-cj .mbr-section-subtitle {
  text-align: center;
}
#header3-cj .mbr-section-title {
  font-size: 48px;
}
#header3-ci .mbr-section-title,
#header3-ci .mbr-section-subtitle {
  text-align: center;
}
#header3-ci .mbr-section-title {
  font-size: 30px;
}
#content6-cf P {
  font-size: 30px;
  color: #d14841;
  font-family: 'Montserrat', sans-serif;
}
#header3-co .mbr-section-title,
#header3-co .mbr-section-subtitle {
  text-align: center;
}
#header3-co H3 {
  color: #28324e;
}
#header3-co SMALL {
  color: #454545;
}
#header3-co .mbr-section-title {
  font-size: 24px;
  color: #323232;
  text-align: center;
}
#header3-co .mbr-section-title SPAN {
  color: #454545;
}
#header3-bl .mbr-section-title,
#header3-bl .mbr-section-subtitle {
  text-align: center;
}
#header3-bl H3 {
  color: #7eb5d2;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#msg-box1-bm H3 {
  color: #ffe284;
}
#msg-box1-bm H2 {
  color: #ffffff;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
#msg-box1-bm B {
  text-align: left;
  font-size: 20px;
}
#msg-box1-bm SPAN {
  font-size: 24px;
}
#content1-bn P {
  font-family: 'Lora', serif;
  color: #7e9b9f;
  text-align: center;
  font-size: 20px;
}
#content1-bn B {
  text-align: right;
  color: #353535;
  font-family: 'Montserrat', sans-serif;
}
#content1-bn I {
  color: #28324e;
}
#content1-bn DIV {
  color: #454545;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  text-align: center;
}
#header3-bo .mbr-section-title,
#header3-bo .mbr-section-subtitle {
  text-align: center;
}
#header3-bo H3 {
  color: #7eb5d2;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#msg-box1-bp H3 {
  color: #ffffff;
  font-size: 24px;
  text-align: right;
}
#msg-box1-bp H2 {
  color: #d14841;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
#msg-box1-bp B {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #ffe284;
}
#msg-box1-bp SPAN {
  color: #ffe284;
}
#content1-bq P {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #454545;
}
#header3-br .mbr-section-title,
#header3-br .mbr-section-subtitle {
  text-align: center;
}
#header3-br H3 {
  color: #7eb5d2;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#msg-box5-bs H3 {
  color: #ffe284;
  font-size: 36px;
}
#msg-box5-bs P {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 20px;
}
#msg-box5-bs B {
  color: #ffffff;
}
#header3-bt .mbr-section-title,
#header3-bt .mbr-section-subtitle {
  text-align: center;
}
#header3-bt H3 {
  color: #7eb5d2;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#header3-cy .mbr-section-title,
#header3-cy .mbr-section-subtitle {
  text-align: center;
}
#header3-cy .mbr-section-title {
  color: #ffffff;
}
#header3-cv .mbr-section-title,
#header3-cv .mbr-section-subtitle {
  text-align: center;
}
#header3-cv .mbr-section-title {
  color: #232323;
  font-size: 32px;
}
#header3-cv .mbr-section-subtitle {
  color: #454545;
}
#header3-cv .mbr-section-title SPAN {
  color: #efefef;
  font-size: 32px;
}
#header3-ct .mbr-section-title,
#header3-ct .mbr-section-subtitle {
  text-align: center;
}
#header3-ct .mbr-section-title {
  color: #232323;
  font-size: 32px;
}
#header3-ct .mbr-section-subtitle {
  color: #454545;
}
#header3-ct .mbr-section-title SPAN {
  color: #efefef;
}
#header3-cu .mbr-section-title,
#header3-cu .mbr-section-subtitle {
  text-align: center;
}
#header3-cu .mbr-section-title {
  color: #232323;
  font-size: 32px;
}
#header3-cu .mbr-section-subtitle {
  color: #454545;
}
#header3-cu .mbr-section-title SPAN {
  color: #efefef;
}
#header3-cs .mbr-section-title,
#header3-cs .mbr-section-subtitle {
  text-align: center;
}
#header3-cs .mbr-section-title {
  color: #232323;
  font-size: 32px;
}
#header3-cs .mbr-section-subtitle {
  color: #454545;
}
#header3-cs .mbr-section-title SPAN {
  color: #efefef;
}
#header3-bv .mbr-section-title,
#header3-bv .mbr-section-subtitle {
  text-align: center;
}
#header3-bv H3 {
  color: #ffffff;
  font-size: 46px;
  font-family: 'Lora', serif;
}
#header5-bw .mbr-section-title {
  color: #7eb5d2;
  font-size: 48px;
}
#header5-bw .mbr-section-lead {
  color: #28324e;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
#header5-bw .mbr-section-lead B {
  color: #28324e;
  font-size: 24px;
}
#header5-bw .mbr-section-lead SPAN {
  color: #28324e;
}
#msg-box4-bx P {
  text-align: center;
  color: #323232;
}
#msg-box4-bx H3 {
  color: #efefef;
  font-size: 24px;
  text-align: center;
}
#header3-by .mbr-section-title,
#header3-by .mbr-section-subtitle {
  text-align: center;
}
#header3-by H3 {
  color: #7eb5d2;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#msg-box5-bz H3 {
  text-align: center;
  color: #7eb5d2;
}
#msg-box5-bz P {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 19px;
  color: #454545;
}
#msg-box5-bz B {
  font-size: 20px;
  text-align: left;
}
#msg-box5-bz SPAN {
  color: #232323;
  font-size: 20px;
}
#header3-c0 .mbr-section-title,
#header3-c0 .mbr-section-subtitle {
  text-align: center;
}
#header3-c0 H3 {
  color: #7eb5d2;
  font-size: 30px;
  font-family: 'Lora', serif;
}
#header5-c1 .mbr-section-title {
  color: #7eb5d2;
  font-size: 48px;
}
#header5-c1 .mbr-section-lead {
  color: #28324e;
}
#header5-c1 .mbr-section-lead SPAN {
  font-family: 'Montserrat', sans-serif;
  color: #475577;
}
#msg-box4-c2 P {
  text-align: center;
  color: #323232;
}
#msg-box4-c2 H3 {
  color: #efefef;
  font-size: 24px;
  text-align: center;
}
#header3-c3 .mbr-section-title,
#header3-c3 .mbr-section-subtitle {
  text-align: center;
}
#header3-c3 H3 {
  color: #7eb5d2;
  font-family: 'Lora', serif;
  font-size: 30px;
}
#msg-box5-c4 H3 {
  color: #475577;
  text-align: center;
}
#msg-box5-c4 P {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: #454545;
}
#header3-c5 .mbr-section-title,
#header3-c5 .mbr-section-subtitle {
  text-align: center;
}
#header3-c5 H3 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #7eb5d2;
}
#features1-c6 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #7eb5d2;
}
#features1-c6 .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #e25041;
}
#features1-c6 .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #eb6b56;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#features1-c6 .mbr-cards-col:nth-child(odd) .card-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#features1-c6 .mbr-cards-col:nth-child(even) .card-text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#features1-c6 .mbr-cards-col:nth-child(odd) .card-subtitle SPAN {
  color: #353535;
  font-family: 'Raleway', sans-serif;
}
#features1-c6 .mbr-cards-col:nth-child(even) .card-subtitle SPAN {
  color: #eb6b56;
  font-family: 'Raleway', sans-serif;
}
#features1-c6 .mbr-cards-col:nth-child(odd) .card-subtitle B {
  color: #353535;
  font-family: 'Raleway', sans-serif;
}
#features1-c6 .mbr-cards-col:nth-child(even) .card-subtitle B {
  font-family: 'Raleway', sans-serif;
}
#header3-c7 .mbr-section-title,
#header3-c7 .mbr-section-subtitle {
  text-align: center;
}
#header3-c7 H3 {
  color: #7eb5d2;
  font-size: 36px;
}
#msg-box8-c8 .mbr-section-title,
#msg-box8-c8 p {
  color: #fff;
}
#msg-box8-c8 .lead P {
  color: #f28281;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#msg-box8-c8 .lead {
  color: #f28281;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#msg-box8-c8 .lead B {
  font-size: 25px;
}
#msg-box8-c8 .mbr-section-title {
  color: #e25041;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
}
#msg-box8-c8 .lead SPAN {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box8-c8 .lead PRE {
  font-size: 36px;
}
#msg-box8-c8 .mbr-section-title I {
  color: #e25041;
}
#msg-box8-c8 .mbr-section-title SPAN {
  color: #454545;
}
#header3-c9 .mbr-section-title,
#header3-c9 .mbr-section-subtitle {
  text-align: center;
}
#header3-c9 H3 {
  color: #7eb5d2;
  font-size: 36px;
}
#msg-box5-ca H3 {
  color: #7eb5d2;
  font-size: 72px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
#msg-box5-ca P {
  color: #ffffff;
  text-align: center;
}
#header3-ep .mbr-section-title,
#header3-ep .mbr-section-subtitle {
  text-align: center;
}
#header3-ep H3 {
  color: #7eb5d2;
  font-size: 36px;
}
#msg-box5-cp H3 {
  text-align: center;
  color: #7eb5d2;
  font-size: 36px;
}
#msg-box5-cp P {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 24px;
  color: #000000;
}
#msg-box5-cp B {
  text-align: center;
  color: #f28281;
  font-size: 22px;
}
#msg-box5-cp SPAN {
  color: #000000;
}
#header3-cb .mbr-section-title,
#header3-cb .mbr-section-subtitle {
  text-align: center;
}
#header3-cb H3 {
  color: #3d8eb9;
}
#header3-cb SMALL {
  color: #454545;
}
#msg-box5-cc P {
  color: #ffffff;
}
#msg-box5-cc B {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
#header3-cz .mbr-section-title,
#header3-cz .mbr-section-subtitle {
  text-align: center;
}
#header3-cz H3 {
  color: #28324e;
}
#header3-cz SMALL {
  color: #454545;
}
#menu-ce .hide-buttons .nav-btn {
  display: none !important;
}
#menu-ce .navbar-caption {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
#menu-ce .navbar-toggler {
  color: #ffffff;
}
#menu-ce .link,
#menu-ce .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-ce .link {
  font-size: 0.85rem;
}
#menu-ce .dropdown-item,
#menu-ce .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-ce .link:hover,
#menu-ce .dropdown-item:hover,
#menu-ce .link:focus,
#menu-ce .dropdown-item:focus {
  color: #c0a375;
}
#menu-ce .link[aria-expanded="true"],
#menu-ce .dropdown-menu {
  background: #589fc5;
}
#menu-ce .nav-dropdown-sm .link:focus,
#menu-ce .nav-dropdown-sm .link:hover,
#menu-ce .nav-dropdown-sm .dropdown-item:focus,
#menu-ce .nav-dropdown-sm .dropdown-item:hover {
  background: #73aece!important;
}
#menu-ce .navbar,
#menu-ce .nav-dropdown-sm,
#menu-ce .nav-dropdown-sm .link[aria-expanded="true"],
#menu-ce .nav-dropdown-sm .dropdown-menu {
  background: #7eb5d2;
}
#menu-ce .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-ce .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-ce .bg-color.transparent.opened .link:hover,
#menu-ce .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-ce .link[aria-expanded="true"],
#menu-ce .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-ce.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-ce .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-ce .close-icon::before,
#menu-ce .close-icon::after {
  background-color: #ffffff;
}
#header3-eu .mbr-section-title,
#header3-eu .mbr-section-subtitle {
  text-align: center;
}
#header3-eu .mbr-section-title {
  color: #ef4644;
  font-size: 46px;
}
#msg-box4-ev P {
  text-align: left;
  font-size: 24px;
}
#msg-box4-ev .btn {
  font-size: 24px;
}
#msg-box4-ev H3 {
  color: #7eb5d2;
  text-align: center;
  font-size: 36px;
}
#msg-box4-ev B {
  font-size: 23px;
}
#header3-ew .mbr-section-title,
#header3-ew .mbr-section-subtitle {
  text-align: center;
}
#header3-ew H3 {
  color: #28324e;
}
#header3-ew SMALL {
  color: #454545;
}
#header3-ew .mbr-section-title {
  color: #4e4e4e;
  font-size: 36px;
}
